<mat-card class="easter-egg">
  <mat-card-content>
    The year is 2035, you enter your local 7/11 to buy yourself a g fuel before your shift in 
    the local crypto mine. The android working the counter says they only accept doge coin. 
    You pull out your phone, draw a stick man in less than five seconds on a yellow back ground 
    and then sell it as an NFT. From the sell you make 6 doge coin, about 5 million dollars in 
    old world money. You go to buy the drink only to find out 
    that from the time you closed your phone to the time you talked to the cashier 
    the coins had dropped in value to only 3 dollars per coin and you now owe at least 
    10 doge coin to the robot for the gamer fuel. You leave the store, frustrated, and drive off 
    in your Tesla.
  </mat-card-content>
</mat-card>
