<mat-card class="class-desc"> 
    <mat-card-title>Chess 5D Crowdfunding Campaign</mat-card-title>
    <mat-card-subtitle>a brand new Steam chess game, more confused than ever!</mat-card-subtitle>
    <mat-card-content>
      <p>
        It's the first ever chess variant with spatial, temporal, and parallel dimensions. 
        It's 5D Chess With Multiverse Time Travel! Move pieces back in 
        time to create branching timelines. 
        Send a rook to a parallel dimension. 
        Protect your kings in the present and in the past! 
      </p>
    </mat-card-content>
    <mat-progress-bar mode="determinate" value="35"></mat-progress-bar>
    <mat-card-actions align="end">
      <mat-form-field class="example-full-width" appearance="fill">
        <input id="weiamount" matInput type="number" min="0" placeholder="Wei">
      </mat-form-field>
      <button mat-button color="primary" (click)="spawnNewFund()">FUND</button>
      <!--<button mat-button>CLAIM REFUND</button>-->
    </mat-card-actions>
  </mat-card>
