<mat-card class="class-desc"> 
    <mat-card-title>Last Campaign from: </mat-card-title>
    <mat-card-title style="font-size: medium;">{{ addr }}</mat-card-title>
    <mat-card-content>
      <p>
        Our team loves to find products that are delicious, innovative, and most importantly - healthy - 
        and deliver them right to your door. Whether you're looking to try something new, or 
        know what you want and want to save time at the store, we've got you covered. 
        The Health Food e-commerce is the official place to buy Vitalicious and Veggies 
        Made Great Products online. 
      </p>
    </mat-card-content>
    <mat-progress-bar mode="indeterminate" value="35"></mat-progress-bar>
    <mat-card-actions align="end">
      <mat-form-field class="example-full-width" appearance="fill">
        <input id="weiamount" matInput type="number" min="0" placeholder="Wei">
      </mat-form-field>
      <button mat-button color="primary" (click)="spawnNewFund()">FUND</button>
      <!--<button mat-button>CLAIM REFUND</button>-->
    </mat-card-actions>
  </mat-card>
