<!--<mat-card class="camp-creat">
    <mat-card-title>Create Campaign</mat-card-title>
    <mat-card-subtitle>placeholder</mat-card-subtitle>
    <mat-form-field appearance="fill">
      <input id="name" matInput placeholder="name"> 
    </mat-form-field><br>
    <mat-form-field appearance="fill">
      <input id="expiry" matInput type="number" min="0" max="256" value="0" placeholder="expiry">
    </mat-form-field><br>
    <mat-form-field appearance="fill">
      <input id="fundgoal" matInput type="number" min="0" max="1000" value="0" placeholder="fund goal">
    </mat-form-field><br>
    <mat-form-field appearance="fill">
      <input id="address" matInput placeholder="address">
    </mat-form-field>
    <mat-card-actions align="end">
      <button mat-button (click)="spawn()">CREATE</button>
    </mat-card-actions>
</mat-card>-->

<mat-card class="camp-creat">
  <mat-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>One</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input id="name" matInput placeholder="" formControlName="firstCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button color="primary" matStepperNext (click)="setName()" >NEXT</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="Two">
      <form [formGroup]="secondFormGroup">
        <mat-form-field appearance="fill">
          <mat-label>Fund Goal</mat-label>
          <input id="fundgoal" type="number" matInput formControlName="secondCtrl" placeholder=""
                 required>
        </mat-form-field>
        <div>
          <button mat-button color="primary" matStepperPrevious>BACK</button>
          <button mat-button color="primary" matStepperNext (click)="setFundGoal()">NEXT</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup" label="Three">
      <form [formGroup]="thirdFormGroup">
        <mat-form-field appearance="fill">
          <mat-label>Expiry</mat-label>
          <input id="expiry" type="number" matInput formControlName="thirdCtrl" placeholder=""
                 required>
        </mat-form-field>
        <div>
          <button mat-button color="primary" matStepperPrevious>BACK</button>
          <button mat-button color="primary" matStepperNext (click)="setExpiry()">NEXT</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Four</ng-template>
      <div>
        <button mat-button color="primary" (click)="spawnNewCampaign()">SUBMIT</button>
        <button mat-button color="primary" (click)="stepper.reset()">RESET</button>
      </div>
    </mat-step>
  </mat-stepper>  
</mat-card>
