<mat-card class="camp-list">
    <mat-card-title>Campaign List</mat-card-title>
    <mat-card-content>
        <p><app-campaign-desc></app-campaign-desc></p>
        <p>
          <mat-card class="class-desc"> 
              <mat-card-title>Healthy Food E-Store</mat-card-title>
              <mat-card-content>
                  <p>
                    Our team loves to find products that are delicious, innovative, and most importantly - healthy - 
                    and deliver them right to your door. Whether you're looking to try something new, or 
                    know what you want and want to save time at the store, we've got you covered. 
                    The Health Food e-commerce is the official place to buy Vitalicious and Veggies 
                    Made Great Products online. 
                  </p>
              </mat-card-content>
              <mat-progress-bar mode="determinate" value="88"></mat-progress-bar>
              <mat-card-actions align="end">
                <mat-form-field class="example-full-width" appearance="fill">
                  <input matInput type="number" min="0" placeholder="Wei">
                </mat-form-field>
                <button mat-button color="primary">FUND</button>
                <!--<button mat-button>CLAIM REFUND</button>-->
              </mat-card-actions>
          </mat-card>
        </p>
        <p>
            <mat-card class="class-desc"> 
                <mat-card-title>SPIRAL - a family's battle with undiagnosed mental illness</mat-card-title>
                <mat-card-content>
                    <p>
                      SPIRAL will cause people to look anew at a widespread, under-reported, 
                      and significant social and health issue. With your help, this film will 
                      be completed and released very soon.  We believe it truly can and will make 
                      a difference.
                    </p>
                </mat-card-content>
                <mat-progress-bar mode="determinate" value="65"></mat-progress-bar>
                <mat-card-actions align="end">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <input matInput type="number" min="0" placeholder="Wei">
                  </mat-form-field>
                  <button mat-button color="primary">FUND</button>
                  <!--<button mat-button>CLAIM REFUND</button>-->
                </mat-card-actions>
            </mat-card>
        </p>
    </mat-card-content>
</mat-card>