<mat-card class="camp-list">
    <mat-card-title>Campaign List</mat-card-title>
    <mat-card-content>
        <p><app-campaign-desc></app-campaign-desc></p>
        <p>
          <mat-card class="class-desc"> 
              <mat-card-title>CHESS6D</mat-card-title>
              <mat-card-subtitle>a brand new Steam chess game, more confused than ever!</mat-card-subtitle>
              <mat-card-content>
                <p>
                  It's the first ever chess variant with spatial, temporal, and parallel dimensions. 
                  It's 5D Chess With Multiverse Time Travel! Move pieces back in 
                  time to create branching timelines. 
                  Send a rook to a parallel dimension. 
                  Protect your kings in the present and in the past! 
                </p>
              </mat-card-content>
              <mat-progress-bar mode="indeterminate" value="88"></mat-progress-bar>
              <mat-card-actions align="end">
                <mat-form-field class="example-full-width" appearance="fill">
                  <input matInput type="number" min="0" placeholder="Wei">
                </mat-form-field>
                <button mat-button color="primary">FUND</button>
                <!--<button mat-button>CLAIM REFUND</button>-->
              </mat-card-actions>
          </mat-card>
        </p>
        <p>
          <mat-card class="class-desc"> 
              <mat-card-title>E-Wankel Rotative Engine</mat-card-title>
              <mat-card-content>
                  <p>
                    The power of electricity is fundamental to avoid a climatic disaster. In this project 
                    idea we want to build a Wankel rotative engine entirely electric. We are asking for your financial help.
                  </p>
              </mat-card-content>
              <mat-progress-bar mode="indeterminate" value="88"></mat-progress-bar>
              <mat-card-actions align="end">
                <mat-form-field class="example-full-width" appearance="fill">
                  <input matInput type="number" min="0" placeholder="Wei">
                </mat-form-field>
                <button mat-button color="primary">FUND</button>
                <!--<button mat-button>CLAIM REFUND</button>-->
              </mat-card-actions>
          </mat-card>
        </p>
        <p>
            <mat-card class="class-desc"> 
                <mat-card-title>SPIRAL - a family's battle with undiagnosed mental illness</mat-card-title>
                <mat-card-content>
                    <p>
                      SPIRAL will cause people to look anew at a widespread, under-reported, 
                      and significant social and health issue. With your help, this film will 
                      be completed and released very soon.  We believe it truly can and will make 
                      a difference.
                    </p>
                </mat-card-content>
                <mat-progress-bar mode="indeterminate" value="65"></mat-progress-bar>
                <mat-card-actions align="end">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <input matInput type="number" min="0" placeholder="Wei">
                  </mat-form-field>
                  <button mat-button color="primary">FUND</button>
                  <!--<button mat-button>CLAIM REFUND</button>-->
                </mat-card-actions>
            </mat-card>
        </p>
    </mat-card-content>
</mat-card>
