<mat-card class="user-prof">
    <mat-card-title>User profile</mat-card-title><br>
    <mat-card-content>
      <mat-form-field *ngIf="contentControl == 0" appearance="fill">
        <input id="userAddr" matInput placeholder="user address" required>
      </mat-form-field>
    </mat-card-content>
    <mat-card-content *ngIf="contentControl == 1">
      <mat-card>
        <h2>Started Campaign: {{ campaignName }}</h2>
        <h3>status: <strong>{{ status }}</strong></h3>
        <p>fundgoal: <strong>{{ fundGoal }}</strong></p>
        <p>expiry: <strong>{{ expiry }}</strong></p>
        <p>raised: <strong>{{ amountRaised }}</strong></p>
        <mat-card-actions align="end">
          <button mat-button color="primary" (click)="spawnPayout()" *ngIf="status == 'successful' && amountRaised > 0">PAYOUT</button>
        </mat-card-actions>
    </mat-card>
    </mat-card-content>
    <mat-card-content *ngIf="contentControl == 1">
      <mat-card>
        <h2>Funded Campaigns: </h2>
        <mat-card-content>
          <!--<p>{{ contributions.keys() }} => {{ contributions.values() }}</p>-->
          <ul>
            <li *ngFor="let c of contributions | keyvalue">
                {{c.key}} --> {{c.value}}
            </li>
        </ul>
        </mat-card-content>
      </mat-card>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button color="primary" (click)="contentControl = 0">RESET</button>
      <button mat-button color="primary" (click)="spawnCampaignCard()">SEARCH</button>
      <!-- TODO campagne iniziate + campagne sottoscritte -->
    </mat-card-actions>
</mat-card>
